@{
    ViewBag.Title = "Home Page";
}

<head>
    <meta charset="utf-8">
    <title>FizjoTerm</title>
    <meta name="viewport" content="with=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class=" text-left">FizjoTerm - obsługa gabinetu</h1>
        <h3>Baza danych pacjentów, fizjoterapeutów, skierowań i wizyt</h3>
        <img src="~/images/f.jpg" alt="Unity" class="img-responsive" />
    </div>
</body>